*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    
}

.header__inner{
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 20px;
    
    border-top: none;

}

.header__inner-nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.header__inner-nav-logo{
    width: 50%;
    color: black;
}


.header__inner-nav-menu{
    width: 50%;
}

.header__inner-nav-menu ul{
    display: flex;
    justify-content: space-between;
}
.header__inner-nav-menu li , .header__inner-nav-menu a{
    text-decoration: none;
    list-style: none;
    color: orange;
    
}

h2{
    text-align: center;
    font-size: 30px;
    max-width: 300px;
    margin: 50px auto;
    
}