

.modal_login{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items:center ;
    justify-content: center;
}

.modal_login_form{
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px;
    border: 2px black solid;
    border-radius: 20px;
    row-gap: 20px;
}

.modal_login_form-inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.m1{
    max-width: 300px;
    height: 30px;
    padding: 10px;
}
.modal_login_form-button{
    background-color: orange;
    color: aliceblue;
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 150px;
    margin: 0 auto;
    transition: 0.2s;
}
.modal_login_form-button:active{
    background-color: green;
    transform: scale(1.2);

}

.modal_signin{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items:center ;
    justify-content: center;
}

.modal_signin_form{
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px;
    border: 2px black solid;
    border-radius: 20px;
    row-gap: 20px;
}

.modal_signin_form-inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.m1{
    max-width: 300px;
    height: 30px;
    padding: 10px;
}
.modal_signin_form-button{
    background-color: orange;
    color: aliceblue;
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 150px;
    margin: 0 auto;
    transition: 0.2s;
}
.modal_signin_form-button:active{
    background-color: green;
    transform: scale(1.2);

}



.main__inner{
    min-height: 700px;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgb(164, 88, 235);
}

.todo{
    background-color: rgb(237, 237, 122);
    padding: 10px;
    max-width: 300px;
}

.todo p{
    max-width: 200px;
    color: rgb(36, 142, 236);
}


.newTaskCreate{
    background-color: white;
    padding: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.newTaskInp1 , .newTaskInp2{
    height: 40px;
    max-width:600px ;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 2px solid rgb(0, 0, 0) ;
    border-radius: 20px;
    
}
.newTaskBtn{
    background-color: orange;
    color: aliceblue;
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 150px;
    margin: 0 auto;
    transition: 0.2s;
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-size: 30px;
    gap: 30px;
    flex-wrap: wrap;
}

select{
    cursor: pointer;
    height: 30px;
    max-width: 250px;
}